<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
>

    <application
            android:name="lin.xposed.main.MApplications"
            android:usesCleartextTraffic="true"
            android:allowBackup="true"
            android:resizeableActivity="true"
            android:supportsRtl="true"
            android:label="@string/app_name"
            android:icon="@mipmap/ic_launcher_round">

        <activity android:name="lin.xposed.main.MainActivity"
                  android:exported="true"
                  android:theme="@style/NoTitle"
        >

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>

        </activity>

        <meta-data
                android:name="xposedmodule"
                android:value="true"
        />
        <meta-data
                android:name="xposeddescription"
                android:value="仅供学习交流 下载后请在24小时内删除 请勿用作商业用途@言子"/>
        <meta-data
                android:name="xposedminversion"
                android:value="83"
        />
    </application>

</manifest>